.mainwrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.timeinput {
    display: flex;
    flex-direction: row;
}

.timeinput span {
    margin-right: 10px;
}

span input {
    margin-right: 5px;
}